.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.navigation {
  display: grid;
  justify-items: center;
  gap: 3rem;
}