.form {
  display: grid;
  gap: 1rem;
}

.form input[disabled] {
  opacity: 0.65;
}

.success {
  color: mediumseagreen;
}

.error {
  color: firebrick;
  white-space: pre-wrap;
}

.chat {
  display: grid;
  gap: 1.5rem;
  margin-top: 2rem;
}

.chat > div {
  display: grid;
  gap: 0.25rem;
  background: #222;
  padding: 0.55rem 0.75rem;
  border-radius: 0.5rem;
}

.chat small {
  font-size: 65%;
  color: darkgray;
}

.chat .pending {
  animation: pulseFade 2s infinite;
  animation-timing-function: ease-in-out;
}

@keyframes pulseFade {
  0%, 100% {
    opacity: 0.35;
  }
  50% {
    opacity: 0.65;
  }
}